<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta content="A simple bot to help you read more and better books! #BOT #WSIR #WhatShouldIRead #twitter" name="description">
	<meta content="bot,twitter,wsir,whatshouldiread,botwsir,book,books" name="keywords">
	<meta charset="utf-8">
	<title>#WhatShouldIRead Today | A bot who will help you read better books</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row h-100">
			<div class="col-12">
				<div class="col-12">
					<div class="cloud one"></div>
					<div class="cloud two"></div>
					<div class="cloud three"></div>
				</div>
			</div>
			<div class="col-12 align-self-center text-left">
				<div class="oval-thought-border">
					<div class="header">
						Oh! This is an interesting book:
					</div>
					<div class="title">
						<b><%= text %></b>
					</div><a class="logo" href="http://wsir.co.uk">#WhatShouldIRead</a>
				</div>
			</div>
			<div class="col-12 align-self-bottom text-center">
				<div class="row">
					<div class="col-12 text-center">
						<h3>For more recommandations</h3>
					</div>
					<div class="col-6 text-right">
						<a class="twitter-follow-button" data-show-count="true" href="https://twitter.com/wsirbot">Follow @wsirbot</a>
					</div>
					<div class="col-6 text-left">
						<iframe frameborder="0" height="80" scrolling="no" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FWhat-Should-I-Read-wsir-485117375193523%2F&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId" style="border:none;overflow:hidden" width="100%"></iframe>
					</div>
				</div>
			</div>
			<footer class="col-12 align-self-bottom text-center">
				copywrite <i aria-hidden="true" class="fa fa-copyright"></i> Victor Zaporojan<br>
				<a href="https://github.com/vzapo"><i aria-hidden="true" class="fa fa-2x fa-github"></i></a> <a href="www.twitter.com/zapovic"><i aria-hidden="true" class="fa fa-2x fa-twitter"></i></a>
			</footer>
		</div>
	</div>
	<script async charset="utf-8" src="//platform.twitter.com/widgets.js">
	</script> 
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js">
	</script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
	</script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
	</script>
</body>
</html>