<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta content="A simple bot to help you read more and better books! #BOT #WSIR #WhatShouldIRead #twitter" name="description">
	<meta content="bot,twitter,wsir,whatshouldiread,botwsir,book,books" name="keywords">
	<meta charset="utf-8">
	<title>#WhatShouldIRead Today | A bot who will help you read better books</title>
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
	<div class="container h-100">
		<div class="row h-100">
			<div class="col-12">
				<div class="col-12">
					<div class="cloud one"></div>
					<div class="cloud two"></div>
					<div class="cloud three"></div>
				</div>
			</div>
			<div class="col-12 suggestion align-self-center text-center">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="ribbon">
						   <span class="ribbon-content">
						   	<p>Today's pick</p>
						   </span>
						</div>
						<div class="book mr-auto ml-auto">
						<div class="book-cover"></div>
						<div class="book-top"></div>
						<div class="book-right"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12  align-self-bottom text-center">
				<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-6 twitter text-center">
							<div class="ribbon">
								 <span class="ribbon-content">
								 	<p>
								 		<a class="twitter-timeline" data-height="300" href="https://twitter.com/wsirbot?ref_src=twsrc%5Etfw">Tweets by wsirbot</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
								 	</p>
								 </span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-6 fb text-center">
							<div class="ribbon">
								 <span class="ribbon-content">
								 	<p>
								 		<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWhat-Should-I-Read-wsir-485117375193523%2F&tabs=timeline&width=340&height=400&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="300" style="border:none;" scrolling="yes" frameborder="0" allowTransparency="true"></iframe>
								 	</p>
								 </span>
							</div>
						</div>
				</div>
			</div>
			<footer class="col-12 align-self-bottom text-center">
				<p>
					copywrite <i aria-hidden="true" class="fa fa-copyright"></i> Victor Zaporojan<br>
					<a href="https://github.com/vzapo"><i aria-hidden="true" class="fa fa-2x fa-github"></i></a> <a href="www.twitter.com/zapovic"><i aria-hidden="true" class="fa fa-2x fa-twitter"></i></a>
				</p>
			</footer>
		</div>
	</div>

	<script async charset="utf-8" src="//platform.twitter.com/widgets.js">
	</script>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
	</script>

	<script>
		$('.book-cover').css("background-image","url('<%= cover %>')");
	</script>
</body>
</html>
