<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta content="A simple bot to help you read more and better books! #BOT #WSIR #WhatShouldIRead #twitter" name="description">
	<meta content="bot,twitter,wsir,whatshouldiread,botwsir,book,books" name="keywords">
	<meta charset="utf-8">
	<title>#WhatShouldIRead Today | A bot who will help you read better books</title>
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>

	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '452089435187307',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=452089435187307";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="cloud one"></div>
				<div class="cloud two"></div>
				<div class="cloud three"></div>
			</div>
			<div class="w-100"></div>
			<div class="col-sm-12 col-md-12 col-lg-6">
				<div class="ribbon">
				   <div class="ribbon-content">
						<div class="seam">
				   		<h1>Today's pick</h1>
						</div>
				   </div>
				</div>
				<div class="book mr-auto ml-auto">
					<div class="book-cover"></div>
					<div class="book-top"></div>
					<div class="book-right"></div>
				</div>
			</div>
			<div class="w-100"></div>
			<div class="col-sm-12 col-md-12 col-lg-6 text-center">
				<div class="ribbon">
					 <div class="ribbon-content">
						 <div class="seam">
					 		<a class="twitter-timeline" data-height="300" href="https://twitter.com/wsirbot?ref_src=twsrc%5Etfw">Tweets by wsirbot</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					 	</div>
					 </span>
					</div>
				</div>
			</div>
			<div class="w-100"></div>
			<div class="col-sm-12 col-md-12 col-lg-6 fb text-center">
					<div class="ribbon">
						 <div class="ribbon-content">
							 <div class="seam">
									<div class="fb-page" data-href="https://www.facebook.com/What-Should-I-Read-wsir-485117375193523/" data-tabs="timeline" data-width="270" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/What-Should-I-Read-wsir-485117375193523/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/What-Should-I-Read-wsir-485117375193523/">What Should I Read? #wsir</a></blockquote></div>
								</div>
						 </div>
					</div>
			</div>
			<footer class="col-12 align-self-bottom text-center">
				<p>
					copywrite <i aria-hidden="true" class="fa fa-copyright"></i> Victor Zaporojan<br>
					<a href="https://github.com/vzapo"><i aria-hidden="true" class="fa fa-2x fa-github"></i></a> <a href="www.twitter.com/zapovic"><i aria-hidden="true" class="fa fa-2x fa-twitter"></i></a>
				</p>
			</footer>
			</div>
		</div>
	</div>

	<script async charset="utf-8" src="//platform.twitter.com/widgets.js">
	</script>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
	</script>

	<script>
		$('.book-cover').css("background-image","url('<%= cover %>')");
	</script>
</body>
</html>
