$blue-light:#1DDCED;
$white:#f2f2f2;
$dark:#222;
$brown:#77460C;
$brown-light:#CB7C22;
$brown-dark:#5d3709;
$grey:#999;

@mixin border-radius($radius,$pos){
    border-top-left-radius:$radius;
    border-top-right-radius:$radius;
    @if $pos =="left"{
      border-bottom-left-radius:$radius;
    }else{
      border-bottom-right-radius:$radius;
    }
}

*, ::after, ::before{
  box-sizing:inherit;
}

@keyframes cloud-animation{
  0%{
    left:0;
  }
  50%{
    left:100%;
  }
  100%{
    left:0%;
  }
}

html,body{
    overflow-x:hidden;
    background-color: $blue-light;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/bg.svg');
    background-position: bottom;
    background-attachment: 0.5;
    background-size:100%;
    background-repeat: no-repeat;
    font-family: 'Crimson Text', serif;
    color:$white;
    text-shadow: 1px 1px 2px $dark;
    font-size:14px;
    transition:0.5 all linear;
}
.container-fluid{
  position:relative;
  padding-bottom:100px;
}
.menu{
  z-index:9998;
  right:0;
  position:absolute;
  width:0px;
  background:rgba($dark,0.5);
  visibility:invisible;
  height:100%;
  transition:0.5s all linear;
}

.menu-items{
  margin:0;
  padding:0;
  width:100%;
  display:inline-block;
  list-style-type:none;
  & > li {
    width:100%;
    color:$white;
    &:hover{
      transition:0.5s all linear;
    }
    &:hover > p > span {
      transition:0.5s all linear;
      width:100%;
    }
  & > p{
    padding:15px;
    display:inline-block;
    font-weight:bold;
    position:relative;
    font-size:1.5rem;
    text-transform:uppercase;
    padding-right:15px;
    text-shadow:1px 1px 2px $dark;
      & > span {
        transition:0.5s all linear;
        left:0;
        right:0;
        margin:auto;
        width:20px;
        background:$white;
        height:2px;
        position:absolute;
        bottom:0;
        border-radius:5px;
      }
    }
  }
}
.show-menu{
  width:50%;
  visibility:visible;
  transition:0.5s all linear;
}
.menu-icon {
    z-index:9999;
    width:35px;
    position:absolute;
    height:50px;
    right:25px;
    & > span {
      box-shadow: 0px 1px 1px $dark;
      transition:0.5s all linear;
      position:absolute;
      width:100%;
      height:2px;
      background:$white;
      border-radius:5px;
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          margin-top: $i * 10px;
          transform:rotate(0deg);
          top:0px;
      }
    }
  }
  &.active span:nth-child(1){
    top:10px;
    transform:rotate(45deg);
  }
  &.active span:nth-child(2){
    opacity:0;
  }
  &.active span:nth-child(3){
    top:-10px;
    transform:rotate(-45deg);
  }
}


a{
  transition:0.5s all linear;
  color:$white;
  &:hover{
    text-decoration:none;
    transition:0.5s all linear;
    color:$dark;
    text-shadow:1px 1px 2px $white;
  }
}

.footer{
  margin-top:15px;
  font-size:0.9rem;
  bottom:0;
}


/* =============
   Clouds
   ============= */

.cloud{
  z-index:0;
  display:inline-block;
  padding:15px;
  position:relative;
  width:200px;
  height:75px;
  background:$white;
  border-radius:100px;
  &:after{
    content:"";
    position:absolute;
    width:75px;
    height:75px;
    top:-25px;
    left:25px;
    background:$white;
    @include border-radius(50%,"left");
  }
  &:before{
    content:"";
    position:absolute;
    width:100px;
    top:-40px;
    height:100px;
    background:$white;
    right:15px;
    @include border-radius(50%,"right");
  }
  &.one{
      top:50px;
      animation: cloud-animation 40s linear 0s infinite alternate;
  }
  &.two{
      opacity:0.5;
      top:75px;
      animation: cloud-animation 50s linear 0s infinite alternate;
  }
  &.three{
      opacity:0.9;
      top:60px;
      animation: cloud-animation 30s linear 0s infinite alternate;
  }
}

.book {
  margin:2em;
  position: relative;
  width: 200px;
  height: 250px;
  & > .book-cover{
      background-size:100% 100%;
      background-repeat:no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      box-shadow: 0px 2px 4px $dark;
      background-color:$white;
      z-index: 1;
      &:before{
        border-left: 10px solid $dark;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.2;
        position: absolute;
        top: 0;
      }
      & > h1, > h2{
          margin: 0;
          padding: 0;
          font-weight: 300;
          line-height: 30px;
      }
  }
  &-top {
    background-color: $white;
    border-left: 5px solid #222;
    border-top: 2px solid #222;
    box-shadow: 1px 0px 2px $grey;
    height: 9px;
    left: 5px;
    position: absolute;
    top: -9px;
    width: 200px;
    transform: skew(-45deg, 0deg);
    -ms-transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
  }
  &-right {
    background-color: $grey;
    border-bottom: 1px solid $grey;
    border-right: 2px solid $dark;
    box-shadow: 1px 0px 1px $grey;
    height: 100%;
    position: absolute;
    right: -10px;
    top: -4px;
    width: 11px;
    transform: skew(0deg, -45deg);
    -ms-transform: skew(0deg, -45deg);
    -webkit-transform: skew(0deg, -45deg);
  }
}

.ribbon {
 position: relative;
 background: $brown;
 color: $white;
 text-align: center;
 padding: 5px;
 margin-top:5px;
 margin-bottom:5px;
 & .ribbon-content{
   & > .seam {
     width:100%;
     padding:5px;
     border:1px dashed $brown-light;
     height:100%;
     & > .row{
        border-bottom:1px dashed $brown-light;
        margin-left:0;
        margin-right:0;
        margin-bottom:5px;
     }
   }
   &:before, &:after{
     content: "";
     position: absolute;
     display: block;
     border-style: solid;
     border-color: $brown-dark transparent transparent transparent;
     bottom: -1em;
   }
   &:after{
     right: 0;
     border-width: 1em 1em 0 0;
   }
   &:before{
     left: 0;
     border-width: 1em 0 0 1em;
   }
 }
}


.ribbons {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
  & span{
      font-size: 10px;
      font-weight: bold;
      color: #FFF;
      text-transform: uppercase;
      text-align: center;
      line-height: 20px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      width: 100px;
      display: block;
      background: #79A70A;
      background: linear-gradient(#9BC90D 0%, #79A70A 100%);
      box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
      position: absolute;
      top: 19px; right: -21px;
    &:before{
      content: "";
      position: absolute; left: 0px; top: 100%;
      z-index: -1;
      border-left: 3px solid #79A70A;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-top: 3px solid #79A70A;
    }
    &:after{
      content: "";
      position: absolute; right: 0px; top: 100%;
      z-index: -1;
      border-left: 3px solid transparent;
      border-right: 3px solid #79A70A;
      border-bottom: 3px solid transparent;
      border-top: 3px solid #79A70A;
    }
  }
}


.text{
  font-size:1.5rem;
}

.header{
  font-size:2.5rem;
}

.title{
  font-size:2rem;
}

.twitter,.fb{
  padding:15px;
}

.post{
  border-bottom:1px dashed $brown-light;
} 

@media all and (max-width:736px){
  body, html{
    font-size:11px;
  }
    .two{
      display:none;
    }
    .three{
    display:none;
  }
}
