$blue-light:#1DDCED;
$white:#f2f2f2;
$whiteish:#f9f9f9;
$dark:#222;
$color-bg: #fde3a7;
$book-color-bg: lighten($color-bg, 20%);
$book-color-border: lighten(#000, 85%);
$book-border: 1px solid $book-color-border;


@mixin border-radius($radius,$pos){
    border-top-left-radius:$radius;
    border-top-right-radius:$radius;
    @if $pos =="left"{
      border-bottom-left-radius:$radius;
    }else{
      border-bottom-right-radius:$radius;
    }
}

*, ::after, ::before{
  box-sizing:inherit;
}

@keyframes cloud-animation{
  0%{
    left:0;
  }
  50%{
    left:100%;
  }
  100%{
    left:0%;
  }
}

@font-face {
  font-family: 'rwr';
  src: url('../fonts/rwr.ttf');
}

@font-face {
  font-family: 'rwt';
  src: url('../fonts/rwt.ttf');
}

html, body{
    height:100%;
    width:100%;
    overflow-x:hidden;
    background-image:url('../imgs/bg.svg');
    background-color: $blue-light;
    background-position: bottom;
    background-size:100%;
    background-repeat: no-repeat;
    font-family: 'rwt';
    color:$whiteish;
    font-size:18px;
    line-height:1.2;
}

h1 {
  font-size:250%;
}

h2{
  font-size:200%;
}

.container-fluid{
  padding-bottom:100px;
}

.underline{
  border-bottom:1px solid $white;
}

.menu{
  z-index:9998;
  right:0;
  position:fixed;
  width:0px;
  background:rgba($dark,0.9);
  visibility:hidden;
  height:100%;
  transition:0.5s all linear;
}

.menu-items{
  margin:0;
  padding:0;
  width:100%;
  display:inline-block;
  list-style-type:none;
  & > li {
    width:100%;
    color:$white;
    &:hover{
      transition:0.5s all linear;
    }
    &:hover > p > span {
      transition:0.5s all linear;
      width:100%;
    }
  & > p{
    padding:15px;
    display:inline-block;
    font-weight:bold;
    position:relative;
    font-size:1.5rem;
    text-transform:uppercase;
    padding-right:15px;
    text-shadow:1px 1px 2px $dark;
      & > span {
        transition:0.5s all linear;
        left:0;
        right:0;
        margin:auto;
        width:20px;
        background:$white;
        height:2px;
        position:absolute;
        bottom:0;
        border-radius:5px;
      }
    }
  }
}

.show-menu{
  width:50%;
  visibility:visible;
  transition:0.5s all linear;
}

.menu-icon {
    z-index:9999;
    width:36px;
    position:absolute;
    height:50px;
    top:5px;
    right:35px;
    & > span {
      box-shadow: 0px 1px 1px $dark;
      transition:0.5s all linear;
      position:absolute;
      width:100%;
      height:2px;
      background:$white;
      border-radius:5px;
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          margin-top: $i * 10px;
          transform:rotate(0deg);
          top:0px;
      }
    }
  }
  &.active span:nth-child(1){
    top:10px;
    transform:rotate(45deg);
  }
  &.active span:nth-child(2){
    opacity:0;
  }
  &.active span:nth-child(3){
    top:-10px;
    transform:rotate(-45deg);
  }
}


a{
  transition:0.5s all linear;
  color:$white;
  &:hover{
    text-decoration:none;
    transition:0.5s all linear;
    color:$white;
    text-shadow:1px 1px 2px $dark;
  }
}

.footer{
  margin-top:15px;
  font-size:0.9rem;
  bottom:0;
}


/* =============
   Clouds
   ============= */

.cloud{
  z-index:0;
  display:inline-block;
  padding:15px;
  position:relative;
  width:200px;
  height:75px;
  background:$white;
  border-radius:100px;
  &:after{
    content:"";
    position:absolute;
    width:75px;
    height:75px;
    top:-25px;
    left:25px;
    background:$white;
    @include border-radius(50%,"left");
  }
  &:before{
    content:"";
    position:absolute;
    width:100px;
    top:-40px;
    height:100px;
    background:$white;
    right:15px;
    @include border-radius(50%,"right");
  }
  &.one{
      top:50px;
      animation: cloud-animation 40s linear 0s infinite alternate;
  }
  &.two{
      opacity:0.5;
      top:75px;
      animation: cloud-animation 50s linear 0s infinite alternate;
  }
  &.three{
      opacity:0.9;
      top:60px;
      animation: cloud-animation 30s linear 0s infinite alternate;
  }
}

%book-rounded-corners {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.book {
  @extend %book-rounded-corners;

  cursor: pointer;
  display: block;
  width: 150px;
  height: 220px;
  position: relative;
  background: $book-color-bg;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(#000, .1), 0 9px 20px 0 rgba(#000, .25);
  overflow: hidden;
  transition: box-shadow .3s linear;
  margin-top:15px;
  & > a {
    & > img {
      @extend %book-rounded-corners;
      width: inherit;
      height: inherit;
      transform-origin: 0 50%;
      transform: rotateY(0);
      transition: all .45s ease;
      width:100%;
      height:100%;
    }
  }
  &:hover{
    box-shadow: 0 2px 4px 0 rgba(#000, .25), 0 9px 20px 0 rgba(#000, .45);

    img {
      transform: rotateY(-25deg);
      box-shadow: 1px 1px 5px 5px rgba(#000, .2);
    }
  }
  &:after, &:before{
    @extend %book-rounded-corners;

    content: '';
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: -1;
    top: 0;
    background: $book-color-bg;
    border: $book-border;
  }
  &:after{
     left: -3px;
  }
  &:before{
    left: -6px;
  }
}
.social{
  padding-top:15px;
}
.btn{
  display:inline-block;
  padding:15px;
  border:1.5px dashed $white;
  text-align: center;
  background-color:transparent;
  color:$white;
}
.seam{
  border-bottom:1.5px dashed $white;
  margin-top:5px;
  margin-bottom:5px;
}
.text, .date{
  font-size:25px;
}
.book-title{
  text-align: center;
}
.btn-container{
  text-align: center;
}

.fa-facebook-square:hover, .fa-twitter-square:hover{
  font-size: 1.9em;
}

@media all and (max-width:736px){

  body, html{
    font-size:18px;
  }

  .two{
    display:none;
  }
  .three{
    display:none;
  }
}

.heading{
  text-align:center;
  text-shadow:0px 0px 1px $dark;
}

@media all and (min-width:998px){
  .heading{
    text-align:left;
  }
  .btn-container{
    text-align: left;
  }
  .book-title{
    text-align: left;
  }
  .btn{
    text-align: left;
  }
}

@media all and (max-width:998px){
  body,html{
    font-size:110%;
  }
}