$blue-light:#1DDCED;
$white:#f2f2f2;
$whiteish:#f9f9f9;
$dark:#222;
$brown:#77460C;
$brown-light:#CB7C22;
$brown-dark:#5d3709;
$grey:#ddd;
@mixin border-radius($radius,$pos){
    border-top-left-radius:$radius;
    border-top-right-radius:$radius;
    @if $pos =="left"{
      border-bottom-left-radius:$radius;
    }else{
      border-bottom-right-radius:$radius;
    }
}

*, ::after, ::before{
  box-sizing:inherit;
}

@keyframes cloud-animation{
  0%{
    left:0;
  }
  50%{
    left:100%;
  }
  100%{
    left:0%;
  }
}

@font-face {
  font-family: 'rwr';
  src: url('../fonts/rwr.ttf');
}

@font-face {
  font-family: 'rwt';
  src: url('../fonts/rwt.ttf');
}

html, body{
    height:100%;
    width:100%;
    overflow-x:hidden;
    background-color: $blue-light;
    background-image: url('../imgs/bg.svg');
    background-position: bottom;
    background-size:100%;
    background-repeat: no-repeat;
    font-family: 'rwt';
    color:$whiteish;
    text-shadow: 1px 2px 1px $dark;
    font-size:20px;
}

h1 {
  font-size:300%;
}
h2{
  font-size:200%;
}

.container-fluid{
  padding-bottom:100px;
}

.underline{
  border-bottom:1px solid $white;
}
.menu{
  z-index:9998;
  right:0;
  position:fixed;
  width:0px;
  background:rgba($dark,0.9);
  visibility:hidden;
  height:100%;
  transition:0.5s all linear;
}

.menu-items{
  margin:0;
  padding:0;
  width:100%;
  display:inline-block;
  list-style-type:none;
  & > li {
    width:100%;
    color:$white;
    &:hover{
      transition:0.5s all linear;
    }
    &:hover > p > span {
      transition:0.5s all linear;
      width:100%;
    }
  & > p{
    padding:15px;
    display:inline-block;
    font-weight:bold;
    position:relative;
    font-size:1.5rem;
    text-transform:uppercase;
    padding-right:15px;
    text-shadow:1px 1px 2px $dark;
      & > span {
        transition:0.5s all linear;
        left:0;
        right:0;
        margin:auto;
        width:20px;
        background:$white;
        height:2px;
        position:absolute;
        bottom:0;
        border-radius:5px;
      }
    }
  }
}
.show-menu{
  width:50%;
  visibility:visible;
  transition:0.5s all linear;
}

.menu-icon {
    z-index:9999;
    width:36px;
    position:absolute;
    height:50px;
    right:25px;
    & > span {
      box-shadow: 0px 1px 1px $dark;
      transition:0.5s all linear;
      position:absolute;
      width:100%;
      height:2px;
      background:$white;
      border-radius:5px;
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          margin-top: $i * 10px;
          transform:rotate(0deg);
          top:0px;
      }
    }
  }
  &.active span:nth-child(1){
    top:10px;
    transform:rotate(45deg);
  }
  &.active span:nth-child(2){
    opacity:0;
  }
  &.active span:nth-child(3){
    top:-10px;
    transform:rotate(-45deg);
  }
}


a{
  transition:0.5s all linear;
  color:$white;
  &:hover{
    text-decoration:none;
    transition:0.5s all linear;
    color:$dark;
    text-shadow:1px 1px 2px $white;
  }
}

.footer{
  margin-top:15px;
  font-size:0.9rem;
  bottom:0;
}


/* =============
   Clouds
   ============= */

.cloud{
  z-index:0;
  display:inline-block;
  padding:15px;
  position:relative;
  width:200px;
  height:75px;
  background:$white;
  border-radius:100px;
  &:after{
    content:"";
    position:absolute;
    width:75px;
    height:75px;
    top:-25px;
    left:25px;
    background:$white;
    @include border-radius(50%,"left");
  }
  &:before{
    content:"";
    position:absolute;
    width:100px;
    top:-40px;
    height:100px;
    background:$white;
    right:15px;
    @include border-radius(50%,"right");
  }
  &.one{
      top:50px;
      animation: cloud-animation 40s linear 0s infinite alternate;
  }
  &.two{
      opacity:0.5;
      top:75px;
      animation: cloud-animation 50s linear 0s infinite alternate;
  }
  &.three{
      opacity:0.9;
      top:60px;
      animation: cloud-animation 30s linear 0s infinite alternate;
  }
}

.book {
  margin:2em;
  position: relative;
  width: 200px;
  height: 250px;
  & > .book-cover{
      background-size:100% 100%;
      background-repeat:no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      box-shadow: 0px 2px 4px $dark;
      background-color:$white;
      z-index: 1;
      &:before{
        border-left: 10px solid $dark;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.2;
        position: absolute;
        top: 0;
      }
  }
  &-top {
    background-color: $white;
    border-left: 5px solid #222;
    border-top: 2px solid #222;
    box-shadow: 1px 0px 2px $grey;
    height: 9px;
    left: 5px;
    position: absolute;
    top: -9px;
    width: 200px;
    transform: skew(-45deg, 0deg);
    -ms-transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
  }
  &-right {
    background-color: $grey;
    border-bottom: 1px solid $grey;
    border-right: 2px solid $dark;
    box-shadow: 1px 0px 1px $grey;
    height: 100%;
    position: absolute;
    right: -10px;
    top: -4px;
    width: 11px;
    transform: skew(0deg, -45deg);
    -ms-transform: skew(0deg, -45deg);
    -webkit-transform: skew(0deg, -45deg);
  }
}

.seam{
  border-bottom:1px dashed $white;
  margin-top:5px;
  margin-bottom:5px;
}
.text, .date{
  font-size:22px;
}
@media all and (max-width:736px){
  body, html{
    font-size:16px;
  }

  .two{
      display:none;
  }
  .three{
    display:none;
  }
}
@media all and (min-width:998px){
  .row{
    padding-left:15px;
  }
}
