*, ::after, ::before {
  box-sizing: inherit; }

@keyframes cloud-animation {
  0% {
    left: 0; }
  50% {
    left: 100%; }
  100% {
    left: 0%; } }
@font-face {
  font-family: 'rwr';
  src: url("../fonts/rwr.ttf"); }
@font-face {
  font-family: 'rwt';
  src: url("../fonts/rwt.ttf"); }
html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-image: url("../imgs/bg.svg");
  background-color: #1DDCED;
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'rwt';
  color: #f9f9f9;
  font-size: 18px;
  line-height: 1.2; }

h1 {
  font-size: 250%; }

h2 {
  font-size: 200%; }

.container-fluid {
  padding-bottom: 100px; }

.underline {
  border-bottom: 1px solid #f2f2f2; }

.menu {
  z-index: 9998;
  right: 0;
  position: fixed;
  width: 0px;
  background: rgba(34, 34, 34, 0.9);
  visibility: hidden;
  height: 100%;
  transition: 0.5s all linear; }

.menu-items {
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  list-style-type: none; }
  .menu-items > li {
    width: 100%;
    color: #f2f2f2; }
    .menu-items > li:hover {
      transition: 0.5s all linear; }
    .menu-items > li:hover > p > span {
      transition: 0.5s all linear;
      width: 100%; }
    .menu-items > li > p {
      padding: 15px;
      display: inline-block;
      font-weight: bold;
      position: relative;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding-right: 15px;
      text-shadow: 1px 1px 2px #222; }
      .menu-items > li > p > span {
        transition: 0.5s all linear;
        left: 0;
        right: 0;
        margin: auto;
        width: 20px;
        background: #f2f2f2;
        height: 2px;
        position: absolute;
        bottom: 0;
        border-radius: 5px; }

.show-menu {
  width: 50%;
  visibility: visible;
  transition: 0.5s all linear; }

.menu-icon {
  z-index: 9999;
  width: 36px;
  position: absolute;
  height: 50px;
  top: 5px;
  right: 35px; }
  .menu-icon > span {
    box-shadow: 0px 1px 1px #222;
    transition: 0.5s all linear;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    border-radius: 5px; }
    .menu-icon > span:nth-child(1) {
      margin-top: 10px;
      transform: rotate(0deg);
      top: 0px; }
    .menu-icon > span:nth-child(2) {
      margin-top: 20px;
      transform: rotate(0deg);
      top: 0px; }
    .menu-icon > span:nth-child(3) {
      margin-top: 30px;
      transform: rotate(0deg);
      top: 0px; }
  .menu-icon.active span:nth-child(1) {
    top: 10px;
    transform: rotate(45deg); }
  .menu-icon.active span:nth-child(2) {
    opacity: 0; }
  .menu-icon.active span:nth-child(3) {
    top: -10px;
    transform: rotate(-45deg); }

a {
  transition: 0.5s all linear;
  color: #f2f2f2; }
  a:hover {
    text-decoration: none;
    transition: 0.5s all linear;
    color: #f2f2f2;
    text-shadow: 1px 1px 2px #222; }

.footer {
  margin-top: 15px;
  font-size: 0.9rem;
  bottom: 0; }

/* =============
   Clouds
   ============= */
.cloud {
  z-index: 0;
  display: inline-block;
  padding: 15px;
  position: relative;
  width: 200px;
  height: 75px;
  background: #f2f2f2;
  border-radius: 100px; }
  .cloud:after {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    top: -25px;
    left: 25px;
    background: #f2f2f2;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%; }
    .cloud:after else {
      border-bottom-right-radius: 50%; }
  .cloud:before {
    content: "";
    position: absolute;
    width: 100px;
    top: -40px;
    height: 100px;
    background: #f2f2f2;
    right: 15px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%; }
    .cloud:before else {
      border-bottom-right-radius: 50%; }
  .cloud.one {
    top: 50px;
    animation: cloud-animation 40s linear 0s infinite alternate; }
  .cloud.two {
    opacity: 0.5;
    top: 75px;
    animation: cloud-animation 50s linear 0s infinite alternate; }
  .cloud.three {
    opacity: 0.9;
    top: 60px;
    animation: cloud-animation 30s linear 0s infinite alternate; }

.book, .book > a > img, .book:after, .book:before {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.book {
  cursor: pointer;
  display: block;
  width: 150px;
  height: 220px;
  position: relative;
  background: white;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: box-shadow .3s linear;
  margin-top: 15px; }
  .book > a > img {
    width: inherit;
    height: inherit;
    transform-origin: 0 50%;
    transform: rotateY(0);
    transition: all .45s ease;
    width: 100%;
    height: 100%; }
  .book:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45); }
    .book:hover img {
      transform: rotateY(-25deg);
      box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2); }
  .book:after, .book:before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: -1;
    top: 0;
    background: white;
    border: 1px solid #d9d9d9; }
  .book:after {
    left: -3px; }
  .book:before {
    left: -6px; }

.social {
  padding-top: 15px; }

.btn {
  display: inline-block;
  padding: 15px;
  border: 1.5px dashed #f2f2f2;
  text-align: center;
  background-color: transparent;
  color: #f2f2f2; }

.seam {
  border-bottom: 1.5px dashed #f2f2f2;
  margin-top: 5px;
  margin-bottom: 5px; }

.text, .date {
  font-size: 25px; }

.book-title {
  text-align: center; }

.btn-container {
  text-align: center; }

.fa-facebook-square:hover, .fa-twitter-square:hover {
  font-size: 1.9em; }

@media all and (max-width: 736px) {
  body, html {
    font-size: 18px; }

  .two {
    display: none; }

  .three {
    display: none; } }
.heading {
  text-align: center;
  text-shadow: 0px 0px 1px #222; }

#snow {
  background-color: transparent;
  background-image: url(../imgs/snow1.png), url(../imgs/snow2.png);
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
  z-index: 999;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 0;
  pointer-events: none;
  position: absolute; }

/*Keyframes*/
@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
@-moz-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
@-ms-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
@media all and (min-width: 998px) {
  .heading {
    text-align: left; }

  .btn-container {
    text-align: left; }

  .book-title {
    text-align: left; }

  .btn {
    text-align: left; } }
@media all and (max-width: 998px) {
  body, html {
    font-size: 110%; } }

/*# sourceMappingURL=main.css.map */
